{# Aly Nour & Isabella Dube-Miglioli #}

{%  extends 'layout.html' %}
{% set title = 'Opinions Display' %}
{% from "formhelpers.html" import render_field %}
{% block content %}
    <br>
    <td><a href="{{ url_for("community_bp.update_blog") }}">Return to my opinion</a></td><br>
    <br>
    <div class="row col-12">
        {% for post, url in blogs %}
                <div class="card col-6" style="width: 45rem; align-items: center">
                    <img class="card-img-top" src="{{ url }}" alt="User profile photo" style="width: 10rem;">
                    <div class="card-body">
                        <h5>Personal stance on GHG emissions :</h5>
                        <h6>{{ post.answer_1 }}</h6><br>
                        <h5>Likelihood to show proactivity in reducing GHG emissions :</h5>
                        <h6>{{ post.answer_2 }}</h6><br>
                        <h5>Personal stance on the government's approach to GHG emissions :</h5>
                        <h6>{{ post.answer_3 }}</h6><br>
                        <h5>Level of knowledge about GHG emissions at national level :</h5>
                        <h6>{{ post.answer_4 }}</h6>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
