{# Aly Nour & Isabella Dube-Miglioli #}

{% extends 'layout.html' %}
{% block content %}
    <body>
    <form method="POST" action="{{ url_for('auth.forgot_password') }}">
        <div class="col-md-12 text-center">
            <h1>Forgot password</h1>

            <br>
            <br>
            <br>
            {{ form.csrf_token }}
            {{ form.email.label }} <br> {{ form.email() }} <br> <br>
            {{ form.security_question.label }} <br> {{ form.security_question() }} <br> <br>
            {{ form.security_answer.label }} <br> {{ form.security_answer() }} <br> <br>
            <br>

            <input type="submit" value="Check">
        </div>
    </form>

    </body>
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
{% endblock %}
